@model TripListingServiceModel

<div class="panel panel-body panel-default col-md-4 trip-listing">
    <h3>@Model.Name</h3>
    <table class="table table-listing">
        <tr class="d-table-row">
            <td colspan="2">by <i>@Model.CompanyName</i></td>
        </tr>
        <tr class="d-table-row">
            <td><label asp-for="@Model.SignedUsersCount"></label></td>
            <td id="signed-users-count-@Model.Id">@Model.SignedUsersCount</td>
        </tr>
        <tr class="d-table-row">
            <td><label asp-for="@Model.DestinationName"></label></td>
            <td>@Model.DestinationName</td>
        </tr>
        <tr class="d-table-row">
            <td><label asp-for="@Model.Price"></label></td>
            <td>@Model.Price $</td>
        </tr>
        <tr class="d-table-row">
            <td><label asp-for="@Model.StartDate"></label></td>
            <td>@Model.StartDate.ToShortDateString()</td>
        </tr>
        <tr class="d-table-row">
            <td><label asp-for="@Model.EndDate"></label></td>
            <td>@Model.EndDate.ToShortDateString()</td>
        </tr>
        <tr class="d-table-row">
            <td><label asp-for="@Model.Duration"></label></td>
            <td>@Model.Duration @(Model.Duration == 1 ? "day" : "days")</td>
        </tr>
        <tr class="d-table-row">
            <td id="btn-area-@Model.Id" colspan="2">
                @if (!Model.IsSignedUp)
                {
                    <a class="btn btn-success form-control" onclick="trip.signUp(@Model.Id)">Sign Up</a>
                }
                else
                {
                    <a class="btn btn-danger form-control" onclick="trip.removeSignUp(@Model.Id)">Remove</a>
                }
            </td>
        </tr>
    </table>
</div>