@model TripListingServiceModel

<div class="panel panel-body panel-default col-md-4">
    <h3>@Model.Name</h3>
    <table class="table">
        <tr class="d-table-row">
            <td><label asp-for="@Model.SubscribedUsers"></label></td>
            <td>@Model.SubscribedUsers</td>
        </tr>
        <tr class="d-table-row">
            <td><label asp-for="@Model.Destination"></label></td>
            <td>@Model.Destination</td>
        </tr>
        <tr class="d-table-row">
            <td><label asp-for="@Model.Price"></label></td>
            <td>@Model.Price $</td>
        </tr>
        <tr class="d-table-row">
            <td colspan="2">
                @if (!Model.IsSignedUp)
                {
                    <a class="btn btn-success form-control"
                       asp-area=""
                       asp-controller="Trips"
                       asp-action="SignUp"
                       asp-route-id="@Model.Id">Sign Up</a>
                }
                else
                {
                    <p class="text-center text-success">You are signed up for this trip</p>
                }
            </td>
        </tr>
    </table>
</div>