@model TripListingServiceModel

<div class="panel panel-body panel-default col-md-4" style="height:380px;">
    <h3>@Model.Name</h3>
    <table class="table">
        <tr class="d-table-row">
            <td><label asp-for="@Model.SignedUsersCount"></label></td>
            <td>@Model.SignedUsersCount</td>
        </tr>
        <tr class="d-table-row">
            <td><label asp-for="@Model.Destination"></label></td>
            <td>@Model.Destination</td>
        </tr>
        <tr class="d-table-row">
            <td><label asp-for="@Model.Price"></label></td>
            <td>@Model.Price $</td>
        </tr>
        <tr class="d-table-row">
            <td><label asp-for="@Model.StartDate"></label></td>
            <td>@Model.StartDate.ToShortDateString()</td>
        </tr>
        <tr class="d-table-row">
            <td><label asp-for="@Model.EndDate"></label></td>
            <td>@Model.EndDate.ToShortDateString()</td>
        </tr>
        <tr class="d-table-row">
            <td colspan="2">
                @if (!Model.IsSignedUp)
                {
                    <a class="btn btn-success form-control"
                       asp-area=""
                       asp-controller="Trips"
                       asp-action="SignUp"
                       asp-route-id="@Model.Id">Sign Up</a>
                }
                else
                {
                    @*<p class="text-center text-success">You are signed up for this trip</p>*@
                    <a class="btn btn-danger form-control"
                       asp-area=""
                       asp-controller="Trips"
                       asp-action="Remove"
                       asp-route-id="@Model.Id">Remove</a>
                }
            </td>
        </tr>
    </table>
</div>